@font-face {
    url('../font/Lato-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
body{
    color: #848789;
    font-family: 'Lato', sans-serif;;
    font-size: 18px;
    font-weight: 400;
}
